.main {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.features-area_container {
	padding:59px 15px 22px 15px;
}
.header h2 {
	text-align: 'center';
	padding: '30px';
	font-size: 28px;
	color: #222222;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 76px;
	letter-spacing: 1px;
}

.text-bright {
	color: #009bde;
}

.flex-container1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5%;
}

.flex-container1>div {
	width: 350px;
	justify-content: space-between;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

.mini-flex {
	display: flex;
}
.icon {
	padding: 0px 20px 30px 0px;
}

h3 {
	text-align: left;
}

h3 a {
	color: #222222;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: left;
	line-height: 20px;
}

h3 a:hover {
	color: #009bde;
	text-decoration: none;
}

figcaption p {
	font-weight: 300;
	color: #51595b;
	font-size: 14px;
	text-align: left;
	margin-bottom: 30px;
	line-height: 24px;
	letter-spacing: 1px;
}