.main {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-bright {
  color: #009bde;
}

.price_main_h {
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  color: #222222;
  font-weight: 300;
}
/* ---------table styling------------------ */
ul.table-form{
  padding-left: 0px ;
  text-align: left;
}
.tab1 {
  padding: 50px 65px;
}
.customtxt {
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  color: #222222;
  font-weight: 300;
}

.cols-holder {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* margin: 50px 100px; */ 
}
.price-col-first,   .price-col-fourth {
  border-right: 1px solid black;
  width:270px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.price-col-second{
  border-bottom: 1px solid black;
  width:270px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.price-col-third{
  background-color:#009bde;
  width: 270px;   
}
.price-col-first {
  border-left: 1px solid black;
}
/* media queries for table */

@media only screen and (max-width:990px) {
  .price-col-second{
    border-right: 1px solid black;
    width:330px !important;
    
  }
  .price-col-third{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .price-col-first, .price-col-fourth ,.price-col-third{
    width:330px !important;  
  }
  .start{
    padding: 8px 15px 7px;
  } 
  .tab1{
    padding:20px 30px;
  }
  .cols-holder{
    margin:0px;
  }
}

@media only screen and (max-width:770px) {
  .price-col-second, .price-col-fourth{
    border-left: 1px solid black;
  }
  .price-col-first, .price-col-second,.price-col-third,.price-col-fourth {
    width:480px !important;  
  }
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  background-color: #009bde;
  display: block;
  padding: 8px 15px 7px;
  letter-spacing: 1px;
}
.start{    
  /* padding: 8px 15px 7px; */
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 16px; 
  background-color: #009bde;
  display: block;
  letter-spacing: 1px;
}

.secondrow {
  padding: 16px 15px 27px 0px;
  text-align: center;
}

.text-dul {
  color: #233141;
  font-size: 28px;
}

.text-bold {
  font-size: 28px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  color: #8292A5;
  margin: 8px 0px 0px 0px;
}

ul.table-form li:nth-child(odd) {
  background: #f6f6f6;
}

ul.table-form li {
  padding: 13px 15px 11px 48px;
  position: relative;
  color: #8292A5;
  list-style-type: none;
}
.btn_tab{
  background: #009bde;
  padding: 13px 15px;
  margin: 30px 40px;
}

.btn_tab,.btn_tabh {
  border-radius: 4px; 
  border: none;
  color: #fff;
  font-weight: inherit;
  font-size: 13px;
  text-transform: uppercase;  
  display: inline-block;
}

.btn_tab:hover {
  background-color: #002D40;
}

.btn_tab a:hover,.btn_tabh a:hover {
  text-decoration: none;
  color: white;
}

.btn_tab a,.btn_tabh a {
  color: white;
  text-decoration: none;
}

.whitecheck{
 color:white;
 font:400;
 font-size: 14px;
 padding-right: 10px;
}
.green-check{
  color:#2ecc71;
  font:400;
  font-size: 14px;
  padding-right: 10px;
}

.fa-close{
  color: #f3746f;
  font: 400;
  font-size: 17px;
  padding-right: 10px;
}


 /* active column */ 

.btn_tabh{
  background-color: #002D40;
  padding: 13px 15px;
  color: #fff;
  margin: 30px 40px;
}
ul.table-form li#hover:nth-child(odd) {
  background:#009bde;
  color:white;
}
li#hover{
  color: white;
}
#hover{
  color: white;
}
.price {
  margin-top: 70px;
}

/*------------------ banner styling---------- */
.banner{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 71px;
}

.align{
  padding-left: 3%;
  padding-right: 15%;
  margin-top: 50%;
  transform: translateY(-79%); 
}
@media only screen and (max-width:992px){
  .align{
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0%;
    transform: translateY(-0%); 
  }
}

.btn-t {
  cursor: pointer;
  border-radius: 99px;  
  line-height: 20px;  
  min-width: 150px;
  text-align: center;
  letter-spacing: 1px; 
  text-transform: uppercase;
  color: white;  
  background: #009bde;  
  font-weight: inherit;
  font-size: 13px;  
  padding: 14px 40px 14px 40px;
}

.btn-t:hover {
  background-color: #222222;;
  border: none;
  text-decoration: none;
  color: white;
  border-color: none;
  transition: all 0.25s;
  transition-timing-function: linear;
}

.primary_block_txt, .second_block_txt, .info {
  text-align: left;
  /* margin-left: 16%; */
  letter-spacing: 1px;
}

.primary_block_txt {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 36px;
}

.second_block_txt {
  font-weight: 300;
  color: #666;
  font-size: 15px;
  text-align: left;
  margin-bottom: 52px;
  line-height: 28px;
  letter-spacing: 0.6px;
  line-height: 32px;
}

.thirdtxt {
  font-size: 35px;
  margin-top: 100px;
}

.img10-responsive{
  height: auto;
  width: 100%; 
  background-color: white;
  box-shadow: 0px 15px 15px 15px #E5E5E3;
  float:left;
  margin-left: -20%;
 
}

/* media queries */
@media only screen and (max-width: 768px){
  .banner{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .img10-responsive{
    margin-left:0%;
    margin-bottom: 5%;
  }
  
}
@media only screen and (max-width: 992px) {
  .img10-responsive{
    margin-left:0%;
  }
}


