.main {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Testimonial {
  margin-top: 68px;
  margin-bottom: 80px;
}

#main_h {
  text-align: 'center';
  padding: '30px';
  font-size: 28px;
  line-height: 38px;
  color: #222222;
}

.text-bright {
  color: #009bde;
}

.ArticleCopy {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
}
.carousel-control-next,.carousel-control-prev{
  opacity: 1.5 !important;
}
.ArticleCopy blockquote {
  border-radius: 3px;
  position: relative;  
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%;
  color: #4a4a4a;
  margin: 1rem auto 2rem;
  color: #4a4a4a;
}
.desc_slideshow{
  color:#828282;
  font: 300;
  font-style: italic;  
  font-size: 18px;  
  letter-spacing: 1px; 
  margin-bottom: 8px;
  opacity:0.5;  
}
.name{  
  margin-bottom: 10px;
  font: 300;
  color:#828282;
  font-size: 18px;
  letter-spacing: 1px;
}
.sub-name{
  color:#828282;
  letter-spacing: 1px;
  font-size: 14px;
}

.btn-p {
  cursor: pointer;
  border-radius: 99px;
  border:5px solid #d1f0ff;
  line-height: 20px;  
  min-width: 150px;
  text-align: center;
  letter-spacing: 1px; 
  text-transform: uppercase;
  color: white;  
  background: #009bde;  
  font-weight: inherit;
  font-size: 13px;  
  padding: 14px 40px 14px 40px;
}

.btn-p:hover {
  background-color: #222222;;
  border: none;
  text-decoration: none;
  color: white;
  border-color: none;
  transition: all 0.25s;
  transition-timing-function: linear;
 
}

.video {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url('../images/img05.jpg');
  background-size: cover;  
}

.fa.fa-play-circle-o {
  color: white;
  size: 50px;
}

.textsoft {
  margin-top: 40px;
  text-align: center;
}

.customtxt {
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  color: #222222;
  font-weight: 300;
  margin-bottom:32px ;
}

.img8-responsive{
  height: 40vh;
  width: 100%;
}

.img9-responsive{
  width:100%;
  height: auto;
}
.round{
  border-radius: 100%;
  background-color:rgb(2,17,22);
  padding:8px 11px;
}
.round:hover{
  background-color: #009bde;
}
