.hom{
  background-image: url(../images/img07.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  color: #fff;

}

.nav-link{
  color:white;
}
.nav-link:hover{
  color:whitesmoke;
}
.btn2 {
    border-radius: 200px;
    border-color:#fff;
    width:180px;
    height: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
}

#homebtn{
  margin-left: 35%;
  margin-top: 50px;
}
.btn1{
  border-radius: 200px;
  background-color: black;
    border-color:#fff;
    color: #fff;
    width:180px;
    height: 40px;
}

 .btn1:hover,.btn2:hover{
  background-color: black;
  border:none;
  border-color: none;
  color:white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #hometxt{
    margin-top: 120px;
  }

  .best,.Try,.p1{
    text-align: left;
    margin-left: 35%;
    
  }

  .best{
    font-size: 30px;
  }
  .p1{
    font-size: 18px;
  }

  .Try{
    font-size:50px;
    font-weight: bolder;
  }

 