.main {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row.sameheight-container {
    margin-top: 80px 92px 0px 92px;
}

.left_txt {
    margin-top: 150px;
}

.demo-block {
    margin-top: 60px;
    background-color: #009bde;
    min-width: 100%;
    /* min-height: 100px; */
    color: white;
    line-height: 26px;
    letter-spacing: 1px;
    padding: 10px;
}

.main_block_txt, .secondary_block_txt {
    text-align: left;
    /* margin-left: 15%;       */
}

.main_block_txt {
    font-size: 21px;
}

.secondary_block_txt {
    font-size: 15px;
    font-weight: 100;
}

/* .txt-leftalign{       
        margin-top: 120px;
    } */

.primarytxt, .secondarytxt, .table_counter {
    text-align: left;
    margin-left: 16%;
}

.secondarytxt {
    font-weight: 300;
    color: #51595b;
    font-size: 14px;
    text-align: left;
    margin-bottom: 30px;
    line-height: 28px;
    letter-spacing: 1px;
    line-height: 30px;
}

.primarytxt {
    padding: '30px';
    font-size: 25px;
    color: #222222;
    letter-spacing: 1px;
    font-weight: 550;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    /* background-color: #f1f1f1; */
    /* margin: 10px; */
    padding: 5px;
}

#firstrow {
    font-weight: bold;
    font-size: 20px;
}

#flex_second_row_color {
    color: #51595b;
    font-size: 14px;
}

.components {
    width: 140px;
    letter-spacing: 1px;
    margin-right: 90px;
}

.Themes {
    width: 80px;
    letter-spacing: 1px;
    margin-right: 90px;
}

.users {
    width: 100px;
    letter-spacing: 1px;
}

/* purchase button styling*/

.btnpurchase {
    border-radius: 99px;
    background: none;
    border-color: #fff;
    color: #fff;
    min-width: 167px;
    font-weight: inherit;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px;
}

.btnpurchase:hover {
    background-color: black;
    border: none;
    border-color: none;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.trylink {
    color: white;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: underline;
}

.trylink:hover {
    color: black;
}

.flex-container-1 {
    display: flex;
    padding-top: 50px;
    padding-bottom: 15px;
    margin: 0px 100px 0px 100px;
}

.flex-container-1>div {
    margin: 10px;
}

.flextxt {
    width: 60%;
}

.margin-btn {
    margin-top: 30px !important;
}

.img7-responsive {
    width: 80%;
    height: auto;
}