.main {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aboutcont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .image-holder,#side-txt{
    min-height: 557px;
} */
.left_txt{
    padding-top: 80px;
}

.primarytxt {    
    font-size: 28px;
    color: #222222;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom:36px ;
}
.secondarytxt {
    font-weight: 300;
    color: #51595b;
    font-size: 14px;
    /* text-align: ; */
    margin-bottom: 30px;
    line-height: 28px;
    letter-spacing: 1px;
    line-height: 30px;
}

.primarytxt, .secondarytxt, .table_counter {
    text-align: left;
    margin-left: 16%;
}
/* .flex-container {
    display: flex;
}

.flex-container>div {
    padding: 5px;
} */
.table_counter{
    display: flex;

}

#firstrow {
    font-weight: bold;
    font-size: 20px;
}
#flex_second_row_color {
    color: #51595b;
    font-size: 14px;
}
.components {
    width: 35%;
    letter-spacing: 1px;
    border-right: 0.5px solid grey;
    /* margin-right: 90px; */
}

.Themes {
    margin-left: 20px;
    width: 25%;
    letter-spacing: 1px;
    border-right: 0.5px solid grey;
    /* margin-right: 90px; */
}

.users {
    margin-left: 20px;
    width: 25%;
    letter-spacing: 1px;
}

.img7-responsive {
    width: 80%;
    height: auto;
}


/* -------demo block styling------- */

.demo-block {
    
    /* margin-top: 60px; */
    background-color: #009bde;
    min-width: 100%;
    color: white;
    line-height: 26px;
    letter-spacing: 1px;
    /* padding: 10px; */
}

.main_block_txt, .secondary_block_txt {
    text-align: left;   
}

.main_block_txt {
    font-size: 21px;
}

.secondary_block_txt {
    font-size: 15px;
    font-weight: 100;
}
.block{
    display: flex;
    width:42%;
   padding-left:12%;
}
.flextxt {
    width: 60%;
}
.flex-container-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 15px;

    /* margin-top: 50%;
  transform: translateY(-59%);  */
}

.flex-container-1>div {
    margin: 10px;
}

/* purchase button styling*/

.btnpurchase {
    cursor: pointer;
    border : 2px solid #fff;
  border-radius: 99px;
  font-size: 14px;
  font-weight: 300;  
  line-height: 16px;  
  padding: 14px;  
  margin: 0px 15px 0px 0px;
  min-width: 167px;
  margin:20px 15px 0px 0px;
  text-align: center;
  letter-spacing: 1px; 
  text-transform: uppercase;
  background: none;
  color: white;     
}

.btnpurchase:hover {
    background-color: #222222;
    border : 2px solid #222222;
  /* border: none; */
  color: white;
  border-color: none;
  transition: all 0.25s;
  transition-timing-function: linear;   
}

.trylink {
    color: white;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: underline;
}

.trylink:hover {
    color: black;
    transition: all 0.25s;
  transition-timing-function: linear;   
}
.margin-btn {
    margin-top: 30px !important;
}

/* media queries */

/* @media only screen and (min-width: 600px) and (max-width: 1200px) {
   
   .left_txt {
    margin-top: 0px;
}
} */

@media only screen and (max-width: 992px) {
    .flex-container-1 {
        flex-direction: column;
    }
    .block{
        width:100%;
        padding-left:3%;
        align-items: center;
        justify-content: center;
    }
    .flextxt {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .block{
        padding-left:3%;
    }
}
@media only screen and (max-width: 768px) {
    .aboutcont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .left_txt {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 992px) {
    .left_txt {
        padding-top: 30px ;
    }
   
    
}
@media only screen and (max-width: 600px) {
    .table_counter {
        flex-direction: column;
        align-items: center;
    }
    .components {
        text-align: center;
        border-right: none;
        align-items: center;
        margin-bottom: 3%;
    }
    
    .Themes {
        text-align: center;
        border-right: none;
        align-items: center;
        margin-bottom: 3%;
        margin-left: 0px;
    }
    .users{
        text-align: center;
        margin-left: 0px;
    }
    
    .d-flex{
      
        justify-content: center;
    }
}