nav.inactivestroke{
  background-color:transparent;
  width: 100%;
  padding-top: 3%;
  min-height: fit-content;
  /* margin: 0 auto; */
  position:fixed;
  /* padding: 30px 0; */
  transition: white 0.4s ease-out;
}
nav.activestroke{
  background-color:white;
  box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto !important;
  /* margin: 0 auto; */
  position:fixed;
  /* padding: 8px 0px 8px 0px; */
  transition: white 0.4s ease-out;
  z-index: 1000;
}

/*--------- NAVIGATION styling ------- */
.tog{
  display: flex;
  flex-direction: row;
  
}
 
.inactive_t .nav-link{
  color: #fff !important;
  margin: 0px 0px 0px 26px;
  padding:10px 0px 10px 0px; 
  font-size: 13px;
  font-weight: 400;    
  text-transform: uppercase;  
  letter-spacing: 1px;  
  line-height: 17px;  
  display: block;
}
.active_t .nav-link{
  color: #555 ;
  display: block;
  margin: 0px 0px 0px 26px;
  padding:10px 0px 10px 0px; 
  font-size: 13px;
  font-weight: 400;    
  text-transform: uppercase;  
  letter-spacing: 1px;  
  line-height: 17px;  
}
.active_t .nav-link:hover{
  color:#555 ;
}
.inactive_t .nav-link:hover{
  color:black !important;
  /* border-bottom: 1px solid blue; */
}

/*---- stroke styling ------- */
.decoration{
  padding-bottom: 20px;
}
.decoration:hover{
  border-bottom: 2px solid white;  
  transition-timing-function: ease-in-out;
  
}
.decoration::before,
.decoration::after{
    transform-origin: center;
}
.decoration::before{
  transform: scale3d(0,1,1);
}
.decoration::after { 
  transform: scale3d(1,0,1); 
  transition: width .5s ease, background-color .5s ease
}
.decoration:hover::before,
  .decoration:hover::after {
    transform: scale3d(1,1,1); 
    transition:  0.5s;
  }
  /* li.nav-item:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  li.nav-item:hover:after {
    width: 100%;
    background: blue;
  } */

/*------ nav-bar button styling -------*/

  #btn1{
    cursor: pointer;
    border-radius: 99px;      
    font-size: 13px;
    font-weight: 400;  
    line-height: 16px;  
    padding:10px 15px;
    margin:0px 0px 8px 35px;
    min-width: 150px; 
    text-align: center;
    letter-spacing: 1px; 
    text-transform: uppercase;
    background: none;  
  }
  .inactivebtn1{
    border: 2px solid #fff ; 
    color: #fff;
  }
  .activebtn1{
    border:2px solid #222222;
    color: black;
  }  
  #btn1:hover{
  background-color: #222222;
  border: 2px solid #222222;
  color: white; 
  transition:0.3s;
  }
  

  @media only screen and (max-width:900px){
    .decoration{
      padding-bottom: 0px;
    }
    .decoration:hover{
      border-bottom: none;  
    }
  }

  @media only screen and (max-width:600px){
    #btn1{
      min-width: 60px; 
      font-size: 11px;
    }
    .navbar-toggler{
        min-width: 8px;
    }
    .navbar-toggler-icon{
      font-size: 16px;
    }
    .image-brand{
      width:100px;
      height: 30px;
    }

    
  }
