.main {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  background: #021116;
  color: #d9dbdc;
  min-height: 60vh;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

.text-span {
  color: #222222;
  font-size: 15pxs;
}

footer a:hover {
  color: blue;
  text-decoration: none;
}

.footer_txt {
  padding-top: 15px;
  font-size: 14px;
  font-weight: 300;
  color: #d9dbdc;
  line-height: 28px;
}

.copyright {
  color: #d9dbdc;
  font-size: 14px;
}

.text-center {
  padding-top: 77px;
 
  
}

/*SOCİAL İCONS*/

/* footer social icons */

.icons {
  padding-bottom: 19px;
}

ul.social-network {
  list-style: none;
  display: inline;
  /* margin-left: 480px !important; */
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icogoogle:hover {
  background: #dd4b39;
}

.social-network a.icopinterest:hover {
  background-color: red;
}

.social-network a.icotwitter:hover {
  background-color: #00b8e6;
}

.social-network a.icoFacebook:hover i, .social-network a.icogoogle:hover i, .social-network a.icopinterest:hover i, .social-network a.icotwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle i {
  /* color: #595959; */
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: rgb(8, 44, 56);
}

@media screen and (max-width: 1000px) {
  .links, .social, .copyright {
    float: none;
    text-align: center;
  }
}